.coveragerc
README.md.bak
.travis.yml
*.bak
*.log
demo.gif
flow
video.avi
.idea/
bin/
build/
cfg/
ckpt/
darkflow/
images/
test/
sample_img/
video/
results/
backup/
built_graph/
.cache/
summary/
darkflow.egg-info/
static/
__pycache__/
test*.py
